h1{
    color:darkmagenta;
}
h3{
    color:lavender;
}
*{
    background-color:yellowgreen;

}
.header{
    background-color: blanchedalmond;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.origami{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
